html, body, #root {
  height: 100vh;
  overscroll-behavior: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Barlow, Arial, sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Barlow:100,400,500,700');